html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

html.dark {
  background: rgb(4, 25, 59);
  background: linear-gradient(
    320deg,
    rgba(4, 25, 59, 1) 0%,
    rgba(55, 14, 39, 1) 56%,
    rgba(152, 88, 15, 1) 100%
  );
  color: #fff;
}
html.light {
  background: rgb(255, 201, 115);
  background: linear-gradient(
    320deg,
    rgba(255, 201, 115, 1) 0%,
    rgba(255, 251, 173, 1) 59%,
    rgba(255, 255, 255, 1) 100%
  );
  color: #322717;
}

#hehe {
  font-weight: 800;
  font-size: 3.5rem;
}

.main-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

table {
  width: 30rem;
  border-radius: 2rem;
  table-layout: fixed;
}

button span {
  font-size: x-small;
  vertical-align: text-top;
}
.task-result {
  text-align: right;
  font-size: 1.7rem;
}
.history {
  text-align: right;
  margin-bottom: 0.5rem;
}
.clear-a-symbol {
  align-self: baseline;
  margin-left: 1rem;
  margin-right: 1.6rem;
  margin-top: 2rem;
  font-family: "Montserrat", sans-serif;
  padding: 0.3rem, 0.5rem;
  padding-top: 0.4rem;
}

html.dark .clear-a-symbol {
  color: #fff;
  background-color: #433c4e;
  border: 0.1rem solid #433c4e;
  -webkit-box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.73);
  box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.73);
}
html.light .clear-a-symbol {
  background-color: #322717;
  color: #fff;
  border: 0.1rem solid #322717;
  -webkit-box-shadow: 0px 0px 35px 2px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 0px 0px 35px 2px rgba(0, 0, 0, 0.73);
  box-shadow: 0px 0px 35px 2px rgba(0, 0, 0, 0.73);
}

.clear-button-container {
  text-align: right;
}
.clear {
  margin-top: 3rem;
  padding: 0.5rem 1.1rem;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.08rem;
}
html.dark .clear {
  background-color: #ff7000;
  color: #fff;
  border: 0.1rem solid #ff7000;
  -webkit-box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.73);
  box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.73);
}
html.light .clear {
  background-color: #322717;
  color: #fff;
  border: 0.1rem solid #322717;
  -webkit-box-shadow: 0px 0px 35px 2px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 0px 0px 35px 2px rgba(0, 0, 0, 0.73);
  box-shadow: 0px 0px 35px 2px rgba(0, 0, 0, 0.73);
}
button {
  font-size: 1.5rem;
  border-radius: 2rem;
  font-weight: 800;
}
.task-result {
  font-size: 1.6rem;
}
.calculator-container {
  margin-left: 1.6rem;
  padding-top: 2rem;
}
html.dark .border {
  border: none; /* Убираем границу */
  background-color: #fff; /* Цвет линии */
  color: #fff; /* Цвет линии для IE6-7 */
  height: 0.1rem; /* Толщина линии */
}
html.light .border {
  border: none; /* Убираем границу */
  background-color: #322717; /* Цвет линии */
  color: #322717; /* Цвет линии для IE6-7 */
  height: 0.1rem; /* Толщина линии */
}
.change-theme {
  font-size: 0.8rem;
  background-color: transparent;
  border: none;
  font-weight: bolder;
  letter-spacing: 0.1rem;
  display: flex;
  align-items: center;
}
html.dark .change-theme {
  color: #fff;
}
html.light .change-theme {
  color: #322717;
}
.text-container {
  margin-left: 1rem;
}
html.dark .change-theme:hover {
  text-shadow: 0px 0px 10px #fff;
  transition: 0.3s ease;
  cursor: pointer;
}
html.dark .clear-a-symbol:hover {
  transition: 0.3s ease;
  background-color: #26212e;
  border: 0.1rem solid #fff;
  cursor: pointer;
}
html.dark .clear:hover {
  transition: 0.3s ease;
  background-color: #75421c;
  border: 0.1rem solid #fff;
  cursor: pointer;
}

html.light .change-theme:hover {
  text-shadow: 0px 0px 10px #322717;
  transition: 0.3s ease;
  cursor: pointer;
}
html.light .clear-a-symbol:hover {
  transition: 0.3s ease;
  background-color: #ebc174;
  border: 0.1rem solid #fff;
  color: #fff;
  cursor: pointer;
}
html.light .clear:hover {
  transition: 0.3s ease;
  background-color: #ebc174;
  border: 0.1rem solid #fff;
  color: #fff;
  cursor: pointer;
}
.memory,
.table-btn,
.calc-number,
.calc-simple {
  font-family: "Montserrat", sans-serif;
  border-radius: 50%;
  font-size: larger;
  text-align: center;
  margin: 0 auto;
  width: 3.2rem;
  height: 3.2rem;
  background-color: transparent;
}
html.dark .memory {
  border: 0.1rem solid #fff;
  color: #fff;
}
html.dark .table-btn {
  border: 0.1rem solid #fff;
  color: #fff;
}
html.dark .calc-number {
  border: 0.1rem solid #fff;
  color: #fff;
}
html.dark .calc-simple {
  border: 0.1rem solid #fff;
  color: #fff;
}

html.light .memory {
  border: 0.1rem solid #322717;
  color: #322717;
}
html.light .table-btn {
  border: 0.1rem solid #322717;
  color: #322717;
}
html.light .calc-number {
  border: 0.1rem solid #322717;
  color: #322717;
}
html.light .calc-simple {
  border: 0.1rem solid #322717;
  color: #322717;
}

html.dark .memory:hover,
.table-btn:hover,
.calc-number:hover,
.calc-simple:hover {
  transition: 0.5s ease;
  cursor: pointer;
  font-size: medium;
  text-shadow: 0px 0px 10px #fff;
  width: 3rem;
  height: 3rem;
  -webkit-box-shadow: 0px 0px 21px 0px rgba(46, 60, 71, 0.23);
  -moz-box-shadow: 0px 0px 21px 0px rgba(46, 60, 71, 0.23);
  box-shadow: 0px 0px 21px 0px rgba(46, 60, 71, 0.23);
  margin-left: 0.1rem;
}
html.dark .calc-number {
  background-color: #a2592a;
}
html.dark #equals {
  background-color: rgb(155 68 0);
}
html.dark .memory {
  background-color: #20071b;
}
html.dark .calc-simple {
  background-color: #2f273c;
}
html.dark .table-btn {
  background-color: #2f1517;
}
html.light .memory:hover,
.table-btn:hover,
.calc-number:hover,
.calc-simple:hover {
  transition: 0.5s ease;
  cursor: pointer;
  font-size: medium;
  width: 3rem;
  height: 3rem;
  -webkit-box-shadow: 0px 0px 18px 0px #322717;
  -moz-box-shadow: 0px 0px 18px 0px #322717;
  box-shadow: 0px 0px 18px 0px #322717;
  margin-left: 0.1rem;
}
html.light .calc-number {
  background-color: #ffeebb;
}
html.light #equals {
  background-color: #ffe616;
}
html.light .memory {
  background-color: #ffbd52;
}
html.light .calc-simple {
  background-color: #ffed96;
}
html.light .table-btn {
  background-color: #ffd681;
}
